.logo{
	background-color:#2bbfe4;
	display: flex;
	justify-content: center; 
	align-items: center;
	border: 2px solid #000000;  
	margin-bottom: 1%;
}

.logo img{
	margin-top: 10px;
	margin-bottom: 10px;
}

.menu{
	display: flex;
	justify-content: center; 
	border: 2px solid #000000;
	margin-top: 1%;
}
.menu a{
	color: black;
}
.link{
	border: 2px solid #000000;
	margin-top: 20%;
}

.menu_left{
	margin-top: 1%;
	border: 2px solid #000000;
	padding-bottom: 1%;
}

.menu_left .btn{
	margin-top:20px;
	margin-bottom:10px;
}


.content{
	background-color:green;
	margin-top: 1%;
	border: 2px solid #000000;
	padding-top: 1%;
}
.content h3{
	color: white;
}
.video{
	margin-top: 1%;
}

.video select{
	width: 100%;
	height: 253px;
	object-fit: cover;
}

.envio{
    border: 2px solid black;
}
.footer{
	background-color:yellow;
	display: flex;
	justify-content: center; 
	border: 2px solid #000000;
	margin-top: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	margin-bottom: 2%;
}


/*
.border{
	border: 2px solid black;
}
*/