/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	padding-top: 50px;
}
.color1{
	background-color: #ff4444;
}
.color2{
	background-color: #33b5e5;
}
.color3{
	background-color: #8e44ad;
}
.color4{
	background-color: #2ecc71;
}
.color5{
	background-color: #008000;
	margin-left: 90 px;
}

/* Searchable dropdown tweaks */
.dropdown-menu .form-control.input-sm{
	width: 160px;
}
.dropdown-menu .list-unstyled li a{
	display: block;
	padding: 6px 4px;
}
.dropdown-menu .list-unstyled li a:hover{
	background-color: #f5f5f5;
}
